<h2>Hello world! is index 取得 todos 資料</h2>
<a href="./todos/new">Create</a>

{{!-- todos --}}
<ul>
  {{#each todos}}
  <li>
    {{ this.name }}
    <a href="./todos/{{ this._id }}">Detail</a>
    <a href="./todos/{{ this._id }}/edit">Edit</a>
  </li>
  {{/each}}
</ul>
